.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2px;
    height:90px;
    width: 70px;
    
 
}
.btn{
    color: white;
    background-color:#4A628A
}